.home-wrap {
  height: 70vh;
  display: flex;
  justify-content: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
